

@media (max-width: 1399px) {
 
}


@media (max-width: 1199px) {
    .header-logo img {
        width: 140px;
    }
    .header-in {
        padding: 14px 0;
    }

    .hero-row .text-side .h1 {
        font-size: 65px;
        line-height: 1.05;
        font-weight: 900;
    }
    .hero-section-inner {
        padding: 45px 40px 20px;
    }
    .hero-row .hgn-side .hydrogen {
        width: 120px;
        margin: 0 60px 0 0;
    }


    .hero-row2 {
        margin: 25px 0 0;
    }


    body {
        font-size: 14px;
    }
    .solution-section {
        padding: 50px 0 80px;
    }
    .h4 {
        font-size: 14px;
        margin: 0px 0 16px;
    }
    .h4-bt-line {
        margin: 0 0 14px;
        height: 5px;
        width: 45px;
    }
    .h2 {
        font-size: 42px;
    }
    .sec-title {
        margin: 0 0 35px;
    }
    .solution-single .icon {
        width: 60px;
        margin: 0 0 18px;
    }
    .solution-single .t-content h3 {
        font-size: 31px;
        margin: 0 0 14px;
    }



    .fi-section {
        padding: 55px 0;
    }
    .fi-single .t-title .icon img {
        transform: scale(0.7);
    }
    .fi-single .t-title .icon {
        width: 63px;
        margin: 0 30px 0 0;
        height: 40px;
        justify-content: center;
    }
    .fi-single .t-title {
        padding: 7px 10px 7px 10px;
        font-size: 30px;
    }
    .fi-single .t-title .ind {
        font-size: 13px;
    }


    .fi-single .collapsed-content .content-row .image {
        width: 270px;
    }
    .fi-single .collapsed-content .content-side {
        padding: 10px 0px 20px 20px;
    }


    .fi-single .collapsed-content .lb-part .button {
        margin: auto 0 0;
        padding: 7px 18px;
    }
    .default-button {
        padding: 8px 26px;
        font-size: 17px;
        letter-spacing: 1.34px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
        background: var(--theme__color1);
        color: #fff;
    }


    .fgh-section {
        padding: 60px 0;
    }
    .fgh-single .icon {
        width: 130px;
        margin: 0 25px 0 0;
    }
    .fgh-wrapper .progress-img {
        width: 70px;
    }


    .ndf-section {
        padding: 60px 0;
    }
    .ndf-single .icon img {
        transform: scale(0.7);
    }
    .ndf-single .icon {
        height: 54px;
        margin: 0 0 4px;
    }
    .ndf-single .texts .b-number {
        font-size: 60px;
    }


    .rp-section {
        padding: 60px 0;
    }
    .rp-sec-title {
        margin: 0 0 10px;
    }
    .rp-l1-nav ul li a p {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .rp-l1-nav ul li a .bt-dline {
        height: 5px;
        width: 45px;
    }
    .rp-l2-nav ul li a h4 {
        font-size: 20px;
    }
    .rp-l2-nav ul li a svg {
        margin: -2px 0 0 3px;
        width: 16px;
    }
    .rp-l2-nav ul {
        --inner-space: 20px;
        --bt-space: 35px;
        --item: 3;
    }
    .rp-content-row2 .rp-l2-nav {
        padding: 35px 0 0;
    }
    .rp-card-box .close-button {
        margin: -17px -17px 0 0;
        width: 47px;
    }
    .rp-card-box .content {
        padding: 23px 15px 50px;
    }
    .rp-card-box .content .bt-title h3 {
        font-size: 21px;
        margin: 0 0 13px;
    }
    .rp-card-box .content .bt-title {
        margin: 0 0 15px;
    }


    .partners-section {
        padding: 60px 0;
    }
    .partner-single .logo-image .img {
        transform: scale(0.7);
    }
    .partners-wrapper {
        --inner-space: 15px;
    }


    .testimonial-section {
        padding: 45px 0;
    }
    .h2.mb {
        margin: 0 0 22px;
    }
    .testimonial-in-r1-c-side .bt-txts h4 {
        font-size: 20px;
        margin: 0 0 10px;
    }
    .testimonial-in-r1-c-side .bt-txts h5 {
        font-size: 14px;
    }
    .slider-arrow1 .owl-nav button {
        font-size: 17px !important;
    }
    .slider-arrow1 .owl-nav {
        width: 55px;
    }
    .testimonial-slider .owl-nav {
        margin: 15px 0 0 0px;
    }


    .ww-section {
        padding: 50px 0;
    }
    .ww-title-li {
        font-size: 14px;
        padding-left: 28px;
    }
    .ww-title-li::before {
        height: 17px;
        width: 17px;
        top: 3px;
    }
    .ww-section-title {
        margin: 0 0 40px;
    }


    .contact-us-section {
        padding: 50px 0 0;
    }
    .check-label-x {
        font-size: 14px;
    }
    .cm-menu li a .icon {
        width: 25px;
        margin: 1px 9px 0 0;
    }
    .cm-menu li {
        margin: 0 0 19px;
    }


    .footer-logo {
        display: block;
        width: 140px;
    }
    .fm-menu li {
        margin: 0 25px 0 0;
    }
    .fm-menu li a {
        font-size: 14px;
    }
}


@media (max-width: 991px) {
    .hero-row {
        flex-wrap: wrap;
    }
    .hero-row .text-side {
        width: 100%;
    }
    .hero-row .hgn-side .hydrogen {
        margin: 0;
    }
    .hero-row .hgn-side {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0 0;
    }


    .hero-shape1 {
        width: 180px;
        bottom: -56px;
        right: -60px;
    }
    .hero-shape2 {
        width: 60px;
        bottom: -80px;
        right: -18px;
    }
    .hero-shape3,
    .hero-shape4 {
        display: none;
    }
    .solutions-wrapper {
        --inner-space: 30px;
        --item: 1;
    }


    .fi-shape1 {
        width: 180px;
        right: -60px;
        top: 114px;
    }
    .fi-shape2,
    .fi-shape3,
    .fi-shape4,
    .fi-shape5 {
        display: none;
    }
    .fi-shape6 {
        width: 180px;
        right: -58px;
        bottom: -30px;
    }
    .fi-single .collapsed-content .content-row {
        flex-wrap: wrap;
    }
    .fi-single .collapsed-content .content-row .image {
        width: 100%;
        height: 240px;
    }
    .fi-single .collapsed-content .content-side {
        padding: 15px 0px 20px 0px;
    }


    .fgh-wrapper .progress-img {
        display: none;
    }
    .fgh-wrapper {
        flex-wrap: wrap;
    }
    .fgh-column {
        width: 100%;
        margin: 0 0 40px; 
    }
    .fgh-column:last-child {
        margin: 0;
    }
    .fgh-single {
        margin: 0 0 40px;
        display: flex;
        align-items: center;
    }
    .ndf-full-image {
        height: 400px;
        margin: 0 0 30px;
    }
    .ndf-single .texts .b-number {
        font-size: 50px;
    }
    .ndf-sec-title {
        flex-wrap: wrap;
    }
    .ndf-sec-title-left {
        width: 100%;
        margin: 0 0 20px;
    }
    .ndf-sec-title-right {
        width: 100%;
    }
    .rp-l1-nav ul li {
        margin: 15px 40px 0 0;
    }
    .rp-content-row2 {
        flex-wrap: wrap;
    }
    .rp-content-row2 .rp-l2-nav {
        padding: 60px 0 0;
        width: 100%;
    }
    .rp-lv2-tab-pane::after {
        right: -500px;
        display: none;
    }
    .rp-content-row2 .rp-cr2-box-side {
        margin: 30px 0 0px;
        width: 100%;
    }


    .partners-wrapper {
        padding: 0;
    }


    .testimonial-in-r1 {
        flex-wrap: wrap;
    }
    .testimonial-in-r1-slider-side {
        width: 100%;
        margin-left: 0;
    }
    .testimonial-in-r1-c-side .bt-txts {
        margin: auto 0 30px;
    }
    .testimonial-section::after {
        width: calc(50% + 640px);
    }

    
    .ww-section-title {
        flex-wrap: wrap;
    }
    .ww-section-title .left {
        width: 100%;
        margin: 0 0 20px;
    }
    .ww-section-title .right {
        width: 100%;
    }


    .contact-us-person-column {
        display: none;
    }
    .contact-us-info-column {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .contact-us-r1 {
        flex-wrap: wrap;
    }
    .contact-us-sec-title {
        margin: 0 0 20px;
    }


    .footer-section-inner {
        flex-direction: column;
    }
    .fm-menu {
        margin: 15px 0 0;
    }
}


@media (max-width: 768px) {
    .header-logo img {
        width: 100px;
    }
    .header-in {
        padding: 10px 0;
    }
    .offcanvas-open {
        font-size: 20px;
    }


    .hero-section-inner {
        padding: 40px 20px 20px;
    }


    .h2 {
        font-size: 30px;
    }
    .solution-single .t-content h3 {
        font-size: 25px;
        margin: 0 0 12px;
    }
    .sec-title {
        margin: 0 0 25px;
    }

    .fi-single .t-title .icon img {
        transform: scale(0.5);
    }
    .fi-single .t-title .icon {
        width: 35px;
        margin: 0 10px 0 0;
        height: 30px;
    }
    .fi-single .t-title {
        padding: 5px 4px 5px 5px;
        font-size: 18px;
    }
    .fi-section::after {
        height: 360px;
    }
    .fi-single .t-title .number {
        width: 30px;
        margin: 0 5px 0 0;
    }
    .fi-single .t-title .ind {
        font-size: 9px;
    }


    .fi-single .collapsed-content .content-side {
        flex-wrap: wrap;
    }
    .fi-single .collapsed-content .text-part h4 {
        font-size: 22px;
        margin: 0 0 10px;
    }
    .fi-single .collapsed-content .lb-part .tl {
        margin: 0 0 20px;
    }
    .fi-single .collapsed-content .lb-part {
        width: 140px;
        margin: 14px 0 0 0px;
    }


    .fgh-single .icon {
        width: 100px;
        margin: 0 20px 0 0;
    }

    .ndf-full-image {
        height: 300px;
    }
    .ndf-wrapper {
        --item: 2;
    }
    .ndf-single .texts .b-number {
        font-size: 45px;
    }


    .rp-l1-nav ul li {
        margin: 15px 24px 0 0;
    }
    .rp-l2-nav ul {
        --inner-space: 14px;
        --bt-space: 22px;
        --item: 2;
    }
    .rp-card-box .close-button {
        margin: -10px -10px 0 0;
        width: 40px;
    }
    .rp-shape1 {
        width: 190px;
        right: -58px;
        bottom: -50px;
    }
    .partners-wrapper {
        --item: 2;
    }
    .partner-single .logo-image {
        height: 70px;
    }

    #scrollUp {
        bottom: 15px;
        right: 15px;
        width: 28px;
        height: 28px;
    }
}


@media (max-width: 575px) {
    .hero-section .container {
        padding: 0;
    }
}


@media (max-width: 370px) {
    .hero-row .text-side .h1 {
        font-size: 60px;
    }
}
