/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap');
@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-Bold.woff2') format('woff2'),
      url('webfonts/BlenderPro-Bold.woff') format('woff'),
      url('webfonts/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro Book';
  src: url('webfonts/BlenderPro-Book.woff2') format('woff2'),
      url('webfonts/BlenderPro-Book.woff') format('woff'),
      url('webfonts/BlenderPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-BoldItalic.woff2') format('woff2'),
      url('webfonts/BlenderPro-BoldItalic.woff') format('woff'),
      url('webfonts/BlenderPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-Medium.woff2') format('woff2'),
      url('webfonts/BlenderPro-Medium.woff') format('woff'),
      url('webfonts/BlenderPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro Book';
  src: url('webfonts/BlenderPro-BookItalic.woff2') format('woff2'),
      url('webfonts/BlenderPro-BookItalic.woff') format('woff'),
      url('webfonts/BlenderPro-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-Heavy.woff2') format('woff2'),
      url('webfonts/BlenderPro-Heavy.woff') format('woff'),
      url('webfonts/BlenderPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-MediumItalic.woff2') format('woff2'),
      url('webfonts/BlenderPro-MediumItalic.woff') format('woff'),
      url('webfonts/BlenderPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-Thin.woff2') format('woff2'),
      url('webfonts/BlenderPro-Thin.woff') format('woff'),
      url('webfonts/BlenderPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('webfonts/BlenderPro-ThinItalic.woff2') format('woff2'),
      url('webfonts/BlenderPro-ThinItalic.woff') format('woff'),
      url('webfonts/BlenderPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


:root {
  --theme__color1: #FCA311;
  --theme__color2: #00344C;
  --background: #fff;
  --sourceSerifPro: 'Source Serif Pro', serif;
  --Blender: 'Blender Pro';
}
*,::before,::after {
  box-sizing: border-box;
  scroll-margin: calc(var(--header-height) - 2px);
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--theme__color2);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--Blender);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
  font-family: var(--sourceSerifPro);
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1195px;
  }
}

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color2);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---common-content--- */
.h2 {
  font-size: 56px;
  line-height: 1.05;
  margin: 0;
}
.h2.mb {
  margin: 0 0 30px;
}
.h4 {
  font-size: 16px;
  margin: 0 0 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.05;
  color: var(--theme__color1);
}
.h4-bt-line {
  margin: 0 0 19px;
  height: 6px;
  width: 60px;
  border-top: 1px solid var(--theme__color1);
  border-bottom: 1px solid var(--theme__color2);
}

.sec-cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-cont-blk.center-this {
  align-items: center;
  text-align: center;
}
.sec-title {
  margin: 0 0 54px;
}
/* ---common-content---end */


/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 24px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.5px);
}
.header-section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {

}
.header-logo img {

}
.header-right {
  display: flex;
  align-items: center;
}
.main-menu {

}
.main-menu > ul {
  display: flex;
}
.main-menu > ul > li {
  margin-right: 37px;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li > a {
  font-size: 16px;
  font-family: var(--Blender);
  color: #505D68;
  font-weight: 700;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}

.ans-sgl {
  margin: 0 0 0 77px;
  font-size: 16px;
  font-family: var(--Blender);
  color: rgba(0, 52, 76, 0.5);
  font-weight: 700;
  transition: 0.3s;
}
.ans-sgl:hover {
  color: rgb(0, 52, 76);
}
.hr-button {
  margin: 0 0 0 65px;
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
  color: var(--theme__color2);
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  color: var(--theme__color2);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 20px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: var(--theme__color1);
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--theme__color2);
  padding: 7px;
}
.mobile-menu li a:hover {
  color: var(--theme__color1);
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/




/* ---hero-section--- */
.hero-section {
  position: relative;
  z-index: 1;
}
.hero-section::after {
	content: '';
	width: calc(50% + 165px);
	height: calc(100% + 347px);
	position: absolute;
	top: 0;
	left: 0;
	background: #F8F8F8;
	z-index: -1;
}
.hero-section-inner {
  padding: 61px 59px 30px;
  /* min-height: 630px; */
  background: url('images/hero-background.png') no-repeat center center/cover;
  color: #ffffff;
}
.hero-section .container {
  position: relative;
  z-index: 1;
}
.hero-shape {
  position: absolute;
}
.hero-shape1 {
	width: 376px;
	bottom: -98px;
	right: -160px;
	z-index: -1;
}
.hero-shape1 img {
	transform: rotate(-30deg);
}
.hero-shape2 {
	width: 120px;
	bottom: -140px;
	right: -70px;
	z-index: -1;
}
.hero-shape2 img {
  	transform: rotate(-54deg);
}
.hero-shape3 {
	width: 30px;
	bottom: -160px;
	right: -60px;
	z-index: -1;
}
.hero-shape3 img {
  	transform: rotate(-77deg);
}
.hero-shape4 {
	width: 43px;
	bottom: -70px;
	right: 230px;
	z-index: -1;
}
.hero-shape4 img {
  	transform: rotate(-77deg);
}

.hero-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-row .text-side {
  width: 40%;
}
.hero-row .text-side .h1 {
  font-size: 90px;
  line-height: 1.05;
  font-weight: 900;
}
.hero-row .hgn-side {

}
.hero-row .hgn-side .hydrogen {
  width: 150px;
  margin: 0 110px 0 0;
}

.hero-row2 {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-pass-btn {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hr-pass-btn .arr {
  width: 22px;
  margin: 0 7px;
}
/* ---hero-section---end */



/* ---solution-section--- */
.solution-section {
  padding: 64px 0 110px;
  position: relative;
  z-index: 1;
}
.solution-section-inner {

}
.solution-sec-title {

}

.solutions-wrapper {
  --inner-space: 28px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.solution-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.solution-single .icon {
  width: 90px;
  margin: 0 0 28px;
}
.solution-single .icon img {

}
.solution-single .t-content {

}
.solution-single .t-content h3 {
  font-size: 40px;
  line-height: 1.08;
  margin: 0 0 22px;
}
.solution-single .t-content p {

}
/* ---solution-section---end */



/* ---fi-section--- */
.fi-section {
  padding: 70px 0;
  position: relative;
  z-index: 1;
}
.fi-section::after {
	content: '';
	width: calc(50% + 420px);
	height: 882px;
	position: absolute;
	top: 0;
	left: 0;
	background: #F8F8F8;
	z-index: -5;
}
.fi-section .container {
  position: relative;
  z-index: 1;
}
.fi-shape {
  position: absolute;
}
.fi-shape1 {
	width: 376px;
	right: -60px;
	top: 100px;
	z-index: -1;
}
.fi-shape1 img {
	transform: rotate(141deg);
}
.fi-shape2 {
	width: 125px;
	right: -72px;
	top: 370px;
	transform: rotate(383deg);
	z-index: -1;
}
.fi-shape2 img {
	transform: rotate(25deg);
}
.fi-shape3 {
	width: 145px;
	left: -110px;
	top: 806px;
	z-index: -1;
}
.fi-shape3 img {
  transform: rotate(25deg);
}
.fi-shape4 {
	width: 64px;
	left: -64px;
	top: 898px;
	z-index: -1;
}
.fi-shape4 img {
	transform: rotate(72deg);
}
.fi-shape5 {
	width: 145px;
	left: -114px;
	top: 1502px;
	z-index: -1;
}
.fi-shape5 img {
	transform: rotate(15deg);
}
.fi-shape6 {
	width: 376px;
	right: -218px;
	bottom: 20px;
	z-index: -1;
}
.fi-shape6 img {
	transform: rotate(135deg);
}
.fi-section-inner {

}
.fi-sec-title {

}

.fi-main-image {
  width: 100%;
}
.fi-main-image img {
  width: 100%;
} 

.fi-wrapper {

}
.fi-single {
  background: #fff;
  border-bottom: 1px solid #000;
}
.fi-single .t-title {
  padding: 10px 25px 10px 30px;
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.fi-single .t-title .icon {
  width: 100px;
  margin: 0 50px 0 0;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fi-single .t-title .icon img {
  max-width: initial;
  position: absolute;
  transform: scale(1);
}
.fi-single .t-title .number {
  width: 60px;
  margin: 0 55px 0 0;
  text-align: center;
  flex-shrink: 0;
}
.fi-single .t-title .detail { 
  margin: 0 30px 0 0;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  transition: .3s ease;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fi-single .t-title .ind {
  font-size: 20px;
  margin-left: auto;
  transition: 0.3s;
}
.fi-single .t-title:not(.collapsed) .ind {
  transform: rotate(180deg);
}
.fi-single .t-title .ind::after {
  content: '\f067';
  margin-left: auto;
  font-family: "Font Awesome 5 Pro";
}
.fi-single .t-title:not(.collapsed) .ind::after {
  content: '\f068';
}
.fi-single .collapsed-content {

}
.fi-single .collapsed-content-inner {

}
.fi-single .collapsed-content .content-row {
  display: flex;
}
.fi-single .collapsed-content .content-row .image {
  width: 367px;
  flex-shrink: 0;
}
.fi-single .collapsed-content .content-row .image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.fi-single .collapsed-content .content-side {
	padding: 15px 19px 25px 32px;
	display: flex;
	align-self: flex-start;
}
.fi-single .collapsed-content .text-part {

}
.fi-single .collapsed-content .text-part h4 {
  font-size: 24px;
  margin: 0 0 23px;
  color: var(--theme__color1);
}
.fi-single .collapsed-content .text-part p {
  line-height: 1.6;
}
.fi-single .collapsed-content .lb-part {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0 0 0 60px;
  flex-shrink: 0;
}
.fi-single .collapsed-content .lb-part .tl {
  
}
.fi-single .collapsed-content .lb-part .tl img {

}
.fi-single .collapsed-content .lb-part .button {
  margin: auto 0 0;
  padding: 9px 20px;
}
/* ---fi-section---end */


/* ---fgh-section--- */
.fgh-section {
  padding: 90px 0;
}
.fgh-section-inner {

}
.fgh-sec-title {

}

.fgh-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.fgh-wrapper .progress-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fgh-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fgh-single {
  margin: 0 0 100px;
  display: flex;
  align-items: center;
}
.fgh-single:last-child {
  margin: 0;
}
.fgh-single .icon {
  width: 165px;
  margin: 0 33px 0 0;
  flex-shrink: 0;
}
.fgh-single .icon img {

}
.fgh-single .text-side {

}
.fgh-single .text-side h4 {
  font-size: 24px;
  margin: 0 0 23px;
  letter-spacing: 0.3px;
  font-family: var(--Blender);
}
.fgh-single .text-side p {

}
/* ---fgh-section---end */


/* ---ndf-section--- */
.ndf-section {
  padding: 90px 0;
  position: relative;
  z-index: 1;
}
.ndf-section::after {
  content: '';
  height: 650px;
  width: calc(50% + 190px);
  position: relative;
  z-index: -1;
  top: 344px;
  right: 0;
  background: #F8F8F8;
  display: block;
  position: absolute;
}
.ndf-section-inner {
  position: relative;
  z-index: 1;
}
.ndf-shape {
  
}
.ndf-shape1 {
  position: absolute;
  top: 164px;
  left: -190px;
  z-index: -1;
}
.ndf-shape2 {
	position: absolute;
	top: 292px;
	right: -132px;
	z-index: -1;
}
 
.ndf-full-image {
  height: 500px;
  margin: 0 0 50px;
  background: url('images/ndf.png') no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
}
.ndf-full-image img {
  
}

.ndf-sec-title {
  margin: 0 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ndf-sec-title-left {
  width: 44%;
}
.ndf-sec-title-right {
  width: 49%;
}

.ndf-wrapper {
  --inner-space: 28px;
  --bt-space: var(--inner-space);
  --item: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.ndf-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.ndf-single .icon {
  height: 80px;
  margin: 0 0 5px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.ndf-single .icon img {
  position: absolute;
  transform: scale(1);
}
.ndf-single .texts {

}
.ndf-single .texts .b-number {
  font-size: 80px;
  margin: 0 0 5px;
  line-height: 1;
  font-weight: 900;
  font-family: var(--Blender);
}
.ndf-single .texts p {

}
/* ---ndf-section---end */


/* ---rp-section--- */
.rp-section {
  padding: 90px 0;
}
.rp-section-inner {
  position: relative;
}
.rp-shape1 {
	width: 376px;
	right: -178px;
	bottom: -140px;
	z-index: -1;
  position: absolute;
}
.rp-shape2 {
	width: 190px;
	left: -200px;
	bottom: 140px;
	z-index: 2;
	position: absolute;
}
.rp-shape3 {
	width: 130px;
	left: -100px;
	bottom: -10px;
	z-index: 2;
	position: absolute;
}
.rp-shape3 img {
  	transform: rotate(50deg);
}
.rp-sec-title {
  margin:  0 0 10px;
}

.rp-l1-nav {

}
.rp-l1-nav ul {
  display: flex;
}
.rp-l1-nav ul li {
  margin: 23px 78px 0 0;
}
.rp-l1-nav ul li a {
  position: relative;
  z-index: 1;
}
.rp-l1-nav ul li a.active {
  color: var(--theme__color1);
}
.rp-l1-nav ul li a .icon {
  height: 45px;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.rp-l1-nav ul li a .icon svg {

}
.rp-l1-nav ul li a .icon svg [fill="#00344C"] {
  transition: 0.3s;
}
.rp-l1-nav ul li a.active .icon svg [fill="#00344C"] {
  fill: var(--theme__color1);
}
.rp-l1-nav ul li a p {
  font-size: 16px;
  margin: 0 0 14px;
  font-weight: 700;
  font-family: var(--Blender);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  transition: 0.3s;
}
.rp-l1-nav ul li a .bt-dline {
  margin: 0px 0 0;
  height: 6px;
  width: 60px;
  border-top: 1px solid var(--theme__color1);
  border-bottom: 1px solid var(--theme__color1);
  opacity: 0;
  transition: 0.3s;
}
.rp-l1-nav ul li a.active .bt-dline {
  opacity: 1;
}

.rp-lv2-tab-content {

}
.rp-lv2-tab-pane {
  position: relative;
  /* z-index: 1; */
}
.rp-lv2-tab-pane::after {
  content: '';
  height: 100%;
  width: 2500px;
  position: relative;
  z-index: -1;
  top: 0;
  right: 100px;
  background: #F8F8F8;
  display: block;
  position: absolute;
}

.rp-content-row2 {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.rp-content-row2 .rp-l2-nav {
  padding: 60px 0 0;
  width: 48%;
}
.rp-content-row2 .rp-cr2-box-side {
  margin: 30px 0 -60px;
	flex-shrink: 0;
	width: 48.8%;
}


.rp-l2-nav {

}
.rp-l2-nav ul {
  --inner-space: 30px;
  --bt-space: 50px;
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
}
.rp-l2-nav ul li {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.rp-l2-nav ul li a {
  transition: 0.3s;
}
.rp-l2-nav ul li a.active {
  color: var(--theme__color1);
}
.rp-l2-nav ul li a h4 {
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 1.08;
  font-family: var(--Blender);
}
.rp-l2-nav ul li a .bt-dline {
  margin: 13px 0 0;
  height: 6px;
  width: 60px;
  border-top: 1px solid var(--theme__color1);
  border-bottom: 1px solid var(--theme__color1);
  opacity: 0;
  transition: 0.3s;
}
.rp-l2-nav ul li a.active .bt-dline {
  opacity: 1;
}
.rp-l2-nav ul li a svg {
  margin: -2px 0 0 5px;
}
.rp-l2-nav ul li a [fill="#00344C"] {
  transition: 0.3s;
}
.rp-l2-nav ul li a.active [fill="#00344C"] {
  fill: var(--theme__color1);
}


.rp-card-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: relative;
}
.rp-card-box .close-button {
  margin: -27px -27px 0 0;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
}
.rp-card-box .image {
  width: 100%;
}
.rp-card-box .image img {
  width: 100%;
}
.rp-card-box .content {
  padding: 30px 22px 60px;
}
.rp-card-box .content .bt-title {
  margin: 0 0 20px;
}
.rp-card-box .content .bt-title h3 {
  font-size: 24px;
  margin: 0 0 15px;
  letter-spacing: 0.2px;
  line-height: 1.08;
  font-family: var(--Blender);
}
.rp-card-box .content .bt-title .h4-bt-line {

}
.rp-card-box .content .texts {

}
.rp-card-box .content .texts p {
  line-height: 1.7;
}
/* ---rp-section---end */


/* ---partners-section--- */
.partners-section {
  padding: 100px 0;
}
.partners-section-inner {

}
.partners-sec-title {

}

.partners-wrapper {
  padding: 0 110px;
  --inner-space: 35px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
}
.partner-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.partner-single .logo-image {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
.partner-single .logo-image .img {
  max-width: initial;
  transform: scale(1);
  position: absolute;
}
/* ---partners-section---end */



/* ---testimonial-section--- */
.testimonial-section {
  padding: 62px 0;
  position: relative;
  z-index: 1;
}
.testimonial-section::after {
	content: '';
	width: calc(50% + 300px);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #F8F8F8;
	z-index: -1;
}
.testimonial-section-inner {

}

.testimonial-in-r1 {
  display: flex;
}
.testimonial-in-r1-c-side {
  flex-grow: 1;
  display: flex;
}
.testimonial-in-r1-c-side .bt-txts {
  margin: auto 0 80px;
}
.testimonial-in-r1-c-side .bt-txts h4 {
  font-size: 24px;
  margin: 0 0 16px;
  letter-spacing: 1px;
  font-family: var(--Blender);
}
.testimonial-in-r1-c-side .bt-txts h5 {
  font-size: 16px;
  opacity: 0.5;
  letter-spacing: 1px;
  font-family: var(--Blender);
  text-transform: uppercase;
}
.testimonial-in-r1-image-side {
	width: 49.2%;
  margin-left: 6%;
	flex-shrink: 0;
}
.testimonial-slider {

}
.testimonial-slider .owl-nav {
	margin: 20px auto 0;
}
.testimonial-slide {

}


.slider-arrow1 .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
.slider-arrow1 .owl-nav button {
  font-size: 20px !important;
  color: var(--theme__color1) !important;
  transition: 0.3s;
}
.slider-arrow1 .owl-nav button:hover {
  color: var(--theme__color2) !important;
}
/* ---testimonial-section---end */



/* ---ww-section--- */
.ww-section {
  padding: 65px 0;
}
.ww-section-inner {

}
.ww-section-title {
  margin: 0 0 63px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ww-section-title .left {

}
.ww-section-title .right {
  width: 49%;
}
.ww-title-li {
  font-family: var(--sourceSerifPro);
  font-size: 16px;
  padding-left: 31px;
  position: relative;
}
.ww-title-li::before {
  content: '';
  height: 22px;
  width: 22px;
  display: block;
  background: var(--theme__color1);
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 50%;
}

.ww-map {
  width: 100%;
}
.ww-map .img {
  width: 100%;
}

/* ---ww-section---end */



/* ---contact-us-section--- */
.contact-us-section {
  padding: 60px 0 0;
  background: var(--theme__color1);
}
.contact-us-section .h4-bt-line {
  border-top-color: #fff;
}
.contact-us-section-inner {

}
.contact-us-sec-title {
  margin: 0 0 60px;
}

.contact-us-r1 {
  display: flex;
}
.contact-us-person-column {
  width: 33%;
  margin: 0 1% 0 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contact-us-person-column img {

}

.contact-us-info-column {
  width: 35%;
  padding-right: 50px;
  flex-shrink: 0;
}
.contact-us-info-column p {

}
.contact-us-info-column .cm-menu {

}
.cm-menu {

}
.cm-menu li {
  margin: 0 0 24px;
}
.cm-menu li:last-child {
  margin: 0;
}
.cm-menu li a {
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 700;
  font-family: var(--Blender);
  display: flex;
  align-items: flex-start;
}
.cm-menu li a .icon {
  width: 35px;
  margin: -2px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cm-menu li a .icon img {

}
/* ---contact-us-section---end */


/* ---input-x--- */
.single-input-x {
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  padding: 10px 17px;
  width: 100%;
  color: rgba(0, 52, 76, 0.5);
  border: 1px solid #000;
  resize: none;
}
.input-x.big {
  height: 96px;
}

.check-label-x {
  font-size: 16px;
  font-family: var(--sourceSerifPro);
  display: flex;
  align-items: center;
}
.check-label-x .checkbox {
  margin: 0 6px 0 0;
}
/* ---input-x---end */



/* ---footer-section--- */
.footer-section {
  padding: 17px 0;
  background: var(--theme__color2);
  color: #fff;
}
.footer-section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {

}
.footer-logo img {

}

.fm-menu {
  display: flex;
}
.fm-menu li {
  margin: 0 31px 0 0;
}
.fm-menu li:last-child {
  margin: 0;
}
.fm-menu li a {
  font-size: 16px;
  font-family: var(--Blender);
  font-weight: 700;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.fm-menu li a:hover {
  color: var(--theme__color1);
}
/* ---footer-section---end */


/* ---policy-section--- */
.policy-section {
  padding: 60px 0 75px;
}
.policy-section::after {
	content: '';
	width: calc(50% + 0px);
	height: 455px;
	position: absolute;
	top: 0;
	left: 0;
	background: #F8F8F8;
	z-index: -1;
}
.policy-section-inner {

}

.policy-sec-r1 {
  display: flex;
  justify-content: space-between;
}
.policy-sec-p-side {
  width: 48.5%;
}
.policy-sec-p-side .title-part {
  margin: 0 0 35px;
}
.policy-sec-p-side .text-wrapper {

}
.text-pg {
  margin: 0 0 45px;
}
.text-pg h4 {
  margin: 0 0 23px;
  font-size: 24px;
}
.text-pg p {
  margin: 0 0 22px;
}


.policy-sec-img-side {
  width: 49.5%;
}
.policy-sec-img-side .impressum-image {
  margin: 110px 0 0 40px;
  width: 466px;
  max-width: 100%;
}
.policy-sec-img-side .privacy-policy-image {
  margin: 40px 0 0 130px;
  width: 262px;
  max-width: 100%;
}
/* ---policy-section---end */